{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
    {% load static %}
    <div class="titleHeader" style="text-align: left; padding-left: 10px;">
        <h1>About</h1>
    </div>

    <div class="container-md pt-3">
        <p>
            <img class="mx-auto d-block img-fluid img-thumbnail" src="{% static 'pics/chess_board-1.png' %}">
        </p>
    </div>
        <article>
        <p>
            This is a simple Django app that uses Python Chess and Stockfish
            to analyze chess matches. The app allows users to upload a PGN file
            containing chess match data and receive an analysis of the match results.
        </p>
        </article>
    <div>

    </div>
    <script>
    </script>
{% endblock %}